.header {
  text-align: left;
  color: gray;
}

.skills {
  text-align: center;
}

.experience {
  text-align: left;
}

.section {
  text-align: center;
  font-style: bold;
  font-style: oblique;
  font-size: large;
}